p-panel-menu > div {
  width: 96vw !important;
}

p-card {
  margin-top: 10px !important;
  margin-bottom: 2px;
  font-size: 1.4rem;
  a {
    text-decoration: none !important;
    color: white;
    font-size: 1.4rem;
  }
}
